# git config file
#
# most of settings are from https://github.com/skwp/dotfiles
[user]
	name = Hagen Wierstorf
	email = hwierstorf@audeering.com
[core]
	editors = vim
	packedGitLimit = 20m
	packedGitWindowSize = 10m
	quotepath = false
[merge]
    tool = vimdiff
    summary = true
    verbosity = 1
[alias]
    # status
    st = status
    # add
    a = add
    # branch
    b = branch -v
    # commit
    ca = commit -a
    ci = commit
    append = commit --amend --no-edit
    reword = commit --amend
    # checkout
    co = checkout
    nb = checkout -b
    # diff
    d = diff            # diff unstaged changes
    # log
    l = log --pretty=format:\"%C(reset)%C(247)%h %C(188)%s  %C(247)[%an]%C(226)%d%C(reset)\"
    changes = log --pretty=format:\"%C(reset)%C(247)%h %C(228)%s %C(247)[%an]%C(reset)\" --name-status
    # remove
    delete = "!f() { git ls-files --deleted ; }; git rm $(f)"
    # reset
    unstage = reset HEAD            # remove files from index (tracking)
    theirs = reset --hard           # E.g. replace your branch by the remote:
                                    # git reset --hard origin/feature-branch
    # edit all conflicting files in VIM
    edit-conflict = "!f() { git diff --name-only --diff-filter=U ; }; vim +/'<<<<<<<' $(f)"
    add-conflict = "!f() { git diff --name-only --diff-filter=U ; }; git add $(f)"

[format]
    pretty = format:%C(reset)%C(247)%>(14,trunc)%ar %C(247)%h %C(188)%s  %C(247)[%an]%C(226)%d%C(reset)
[branch]
    autosetupmerge = true
[push]
    # 'git push' will push the current branch to its tracking branch
    # the usual default is to push all branches
    default = tracking
[pull]
	rebase = true
[advice]
    statusHints = false
[credential]
	helper = cache --timeout=36000
[pack]
	threads = 1
# Try to fix the default Terminal font to be bold
[color "diff"]
    plain = white normal
    meta = white bold
    frag = cyan bold
    old = red bold
    new = green bold
    commit = yellow bold
    whitespace = normal red
[color "branch"]
    current = green bold
    local = white bold
    remote = red bold
    plain = white normal
[color "status"]
    header = white normal
    added = red bold
    updated = green bold
    changed = red bold
    untracked = red bold
    nobranch = red bold
[color "grep"]
    match = white bold
[color "interactive"]
    prompt = white bold
    header = white bold
    help = white bold
    error = white bold
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
